*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image:url("Images/Nairobi.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 640px;
}

.nav{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}

.nav a{
    text-decoration: none;
    font-size:25px;
    font-weight: bold;
    color:white;
    margin-right: 50px;
}

.nav a:hover{
    cursor: pointer;
    color: black;
}

.name{
    background-color: white;
    color: black;
    font-family: cursive;
    padding: 20px;
    width: 170px;
    height: 120px;
    border-radius: 500px 500px 500px 500px;
}

.header-desc{
    text-align: center;
    margin-top:170px;
    color: darkred;
}

.about{
    margin-top: 5px;
    height: 50vh;
}

.about .row{
    display: flex;
    flex-direction: row;
}

.about .row .col1{
    width:50%;
    padding: 50px;
    margin-left: 100px;
}

.about .row .col1 img{
    width:200px;
    height: 200px; 
    border-radius: 500px 500px 500px 500px;
    border-radius: 1px solid darkred;
}

.about .row .col2{
    width:50%;
    padding: 50px;
    margin-right: 100px;
}

.projects {
    margin-top: 5px;
    height: 50vh;
}

.container-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project1{
    padding: 30px;
    margin:10px;
    width:40%;
    height:100px;
}

.project2{
    padding: 30px;
    margin:10px;
    width: 40%;
    height: 100px;
}


.contact{
    margin-top: 5px;
    height: 50vh;
    padding:40px;
}

.fontawesome{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}